# Endereço do servidor central
# Em desenvolvimento: http://localhost:3000
# Em produção: http://[IP-DO-SERVIDOR]:3000
VITE_SERVER_URL=http://localhost:3000

# MongoDB
# Em desenvolvimento: mongodb://localhost:27017/kihap
# Em produção: mongodb://[usuario]:[senha]@[host]:[porta]/kihap
# MONGODB_URI=mongodb://localhost:27017/kihap
# MONGODB_URI=mongodb://localhost:27017/kihap


# Em desenvolvimento: mongodb://localhost:27017/kihap
Em produção: mongodb+srv://garciapaulo1995:PZlVtu3mtLdfd7ka@cluster0.tojwk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URI=mongodb://localhost:27017/kihap





# Ambiente
NODE_ENV=development
